/* #ef3343 new red, #dc3131 old red*/
@font-face { /*FONT GENERAL*/
    font-family: 'CyberpunkWaifus';
    src: url('../fonts/CyberpunkWaifus.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.imgThumb{ /* album gestor thumbs*/
    border: 1px solid #0000009f;
    border-radius: 0%;
    object-fit: cover ;
    width: 50px;
    height: 50px;
}

.imgThumbPublicIndex{ /* public images preview*/

    border-radius: 0%;
    object-fit: cover ;
    width: 70px;
    height: 70px;
    opacity: 0.6;
    filter: alpha(opacity=60);
}

@media only screen and (max-width: 600px) {
    .imgThumbPublicIndex {
        border-radius: 0%;
        object-fit: cover ;
        width: 66px;
        height: 66px;
        opacity: 0.6;
        filter: alpha(opacity=60);
    }
}

.imgThumbRandomSuggest{ /* suggest Album preview*/

    border-radius: 0%;
    object-fit: cover ;
    width: 100px;
    height: 100px;
    opacity: 0.6;
    filter: alpha(opacity=60);
}

.containerAlbumSuggest {
    display: flex;
    flex-wrap: wrap;
  }

  .containerAlbumSuggest .image {
    width: 65px;
    height: 65px;
  }

  .containerAlbumSuggest img {
    border-radius: 0%;
    object-fit: cover ;
    width: 65px;
    height: 65px;
    opacity: 0.6;
    filter: alpha(opacity=60);
  }


  @media only screen and (max-width: 600px) { /* responsive size*/
    .albumSuggestStatsCol{
        padding-right: 0px;
        margin-right: 0px;
        padding-left: 60px;
    }
}
@media (min-width: 576px) {  /* desktop size */
    .albumSuggestStatsCol{
        padding-right: 0px;
        margin-right: 0px;
        padding-left: 45px;
    }
}

@media only screen and (max-width: 600px) { /* responsive size*/
    .albumSuggestImageCol{
        padding-left: 0px;
        padding-right: 0px;
        margin-left: 0px;
    }
}
@media (min-width: 576px) {  /* desktop size */
    .albumSuggestImageCol{
        padding-left: 0px;
        margin-left: -25px;

    }
}


.grid{
    display: none;  /*hidde images grid before loaded with masonry script*/
}

/*
.photos{

    display: none;
}
*/
/* Album Content IMAGE SIZE */
@media only screen and (max-width: 600px) { /* responsive size*/
    .grid .grid-item{ /* public content images grid center*/
        width: 20%; /* 25% original */
    }
    .grid-item>a img{ /* public images/div thumbs resize */
        width: 100%;
    }

}
@media (min-width: 576px) {  /* desktop size */
    .grid .grid-item{ /* public content images grid center*/
        width: 10%; /* 20% original */
    }
    .grid-item>a img{ /* public images/div thumbs resize */
        width: 100%;
    }
}



.photos .masonry {
    width: 25%;
}
    .photos>a img {
        width: 100%;
    }


.card{
    background-color: #1A1A1A;
}
.list-group-item{
    background-color: #1A1A1A;
    padding-top: 0px;
    padding-bottom: 0px;

}
.blackBtn{
    background-color: #1A1A1A;
}
.blackBtn:hover{
   background-color: #1A1A1A;
}

.modal-content{
    background-color: #1A1A1A;
}
.navbar{
    background-color: #1A1A1A;
}
.table{
    background-color: #1A1A1A;
}
.loadBtn{
    background-color: #1A1A1A;
}
.loadBtn:hover{
    background-color: #1A1A1A;
}


.cardAlbumDetails{
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 12px;
}

.cardAlbumTittle{
    margin-bottom: 0px;
    margin-top: 0px;
}

.cardAlbumDescription{
    font-size: 15px;

}

.indexCard:hover{
    border: 1px solid #2d3338;
}

.publicContainerWithNoPadding{
padding-left: 0px;
padding-right: 0px;
}
.indexCardBodyStyle{

padding-left: 10px;
padding-right: 10px;
padding-bottom: 0px;
}

.contentCardBodyStyle{
    padding-left: 0px;
    padding-right: 0px;
}
.contentCardBodyStyleSide{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.contentCardBodyStyleSideAlbumSuggest{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.contentCardBodyStyleSideAlbumSuggest:hover{
    border-color: white;
    border-width: 10px;
    opacity: 0.9;
    filter: alpha(opacity=100);
    background-color: #181818;
}

.personalizeA:hover, .personalizeA:visited, .personalizeA:link, .personalizeA:active
{
    text-decoration: none;
}

.privateAlbumIcon{
    font-size: 100px;
  }

.uploadIcon{
    font-size: 70px ;
}

.page-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #d9d9d9 ;
    background-color: #4f4f4f ;
    border: 1px solid #262626 ;
}
.page-link:hover {
        z-index: 2;
        color: #fff ;
        text-decoration: none;
        background-color: #a4a4a4 ;
        border-color: #dee2e6;
}
.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #808080 ;
    border-color: #353535;
}


footer {
    /*position: fixed;*/
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    font-size: 12px;
 }

body{
    background-color: #202020;
}

html, body { /*BODY CENTER WITHOUT SPACES*/
    max-width: 100%;
    overflow-x: hidden;
    font-family: "CyberpunkWaifus";
}


.bg-comments {            /* COMMENTS CONTAINER */
    /*display:none;*/
margin-left: 0px;
margin-right: 0px;
padding: 5px;
border-radius: .25rem;
background-color: #181818;
color: #ffffff;
text-align: left;
font-weight: normal;
font-size: 16px;
word-break: break-all;
   border-color:#161616;
   border-width: 1px;
   border-style: solid;
}

.postNdate{                      /* COMMENTS DATE STYLE */
    color: #e14a4a;
    font-weight: normal;
    font-size: 12px;
 }

.commentBody{
    padding-top: 10px;
    padding-bottom: 10px;
}
.commentBody> p{
    margin-bottom: 5px;
}

.commentHeader{
    font-size: 12px;
}
.commentHeader> p{
    margin-bottom: 0px;
}

@media only screen and (max-width: 600px) { /*responsive size*/
    .girl404{
        width: 50%;
    }

}
@media (min-width: 576px) { /*desktop size*/
    .girl404{
        width: 20%;
    }
}


.loader-ellips {
    font-size: 7px; /* change size here */
    position: relative;
    width: 4em;
    height: 1em;
    margin: 10px auto;
  }
  .loader-ellips__dot {
    display: block;
    width: 1em;
    height: 1em;
    border-radius: 0.5em;
    background: #fff; /* change color here */
    position: absolute;
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
  }

  .loader-ellips__dot:nth-child(1),
  .loader-ellips__dot:nth-child(2) {
    left: 0;
  }
  .loader-ellips__dot:nth-child(3) { left: 1.5em; }
  .loader-ellips__dot:nth-child(4) { left: 3em; }
  @keyframes reveal {
    from { transform: scale(0.001); }
    to { transform: scale(1); }
  }
  @keyframes slide {
    to { transform: translateX(1.5em) }
  }
  .loader-ellips__dot:nth-child(1) {
    animation-name: reveal;
  }
  .loader-ellips__dot:nth-child(2),
  .loader-ellips__dot:nth-child(3) {
    animation-name: slide;
  }
  .loader-ellips__dot:nth-child(4) {
    animation-name: reveal;
    animation-direction: reverse;
  }

  .carousel-item{
    height: 100px;
}
.carousel-item img{

    border-radius: 0%;
    object-fit: cover ;
    width: 75px;
    height: 75px;
    opacity: 0.6;
    filter: alpha(opacity=60);
}

.dateIndexCard{
    font-size: 11px;
}

.cardIndexBodyPadding{
    padding-top: 10px;
}

.customGroupItem{
 padding-left: 0px;
 padding-right: 0px;
 font-size: 15px;
}

.customStatIcons{
    background-color: #ef3343;
    width: 30px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;

}

.upperCaseTittles{
    text-transform: uppercase;
}
.lowerCaseTittles{
 text-transform: lowercase;
}

.absoluteItem{
    position: absolute;
    z-index:1;
}
.relativeContainer{
    position: relative;
    z-index:2;
}

.hr-sect {
    display: flex;
    flex-basis: 100%;
    align-items: center;
    color: rgba(0, 0, 0, 0.35);
    margin: 8px 0px;
}
.hr-sect:before,
.hr-sect:after {
    content: "";
    flex-grow: 1;
    background: rgba(0, 0, 0, 0.35);
    height: 1px;
    font-size: 0px;
    line-height: 0px;
    margin: 0px 8px;
}

/* Album Content IMAGE SIZE */
@media only screen and (max-width: 600px) { /* responsive size*/
    .avatarComment{
        border: 0px solid #ef3343;
        border-radius: 50%;
        object-fit: cover;
        background-position: -100px -100px ;
        width: 25px;
        height: 25px;
        /*importante lograr formatear las imagenes a un tamaño predeterminado para ser visualizado de forma correcta*/
    }
}

@media (min-width: 576px) {  /* desktop size */
    .avatarComment{
        border: 0px solid #ef3343;
        border-radius: 50%;
        object-fit: cover;
        background-position: -100px -100px ;
        width: 50px;
        height: 50px;
        /*importante lograr formatear las imagenes a un tamaño predeterminado para ser visualizado de forma correcta*/
    }
}


.avatar{
    border: 2px solid #ef3343;
    border-radius: 50%;
    object-fit: cover;
    background-position: -100px -100px ;
    width: 150px;
    height: 150px;
    cursor: pointer;
    /*importante lograr formatear las imagenes a un tamaño predeterminado para ser visualizado de forma correcta*/
}

.avatar:hover{
    border: 2px solid #ef3343;
    border-radius: 50%;
    object-fit: cover;
    background-position: -100px -100px ;
    width: 150px;
    height: 150px;
    opacity: 0.8;
    filter: alpha(opacity=80);
    /*importante lograr formatear las imagenes a un tamaño predeterminado para ser visualizado de forma correcta*/
}
/* Album Content IMAGE SIZE */
@media only screen and (max-width: 600px) { /* responsive size*/
    .avatarNav{
        display: none;
    }
}

@media (min-width: 576px) {  /* desktop size */
    .avatarNav{
        border: 0px solid #ef3343;
        border-radius: 50%;
        object-fit: cover;
        background-position: -100px -100px ;
        width: 40px;
        height: 40px;
        /*importante lograr formatear las imagenes a un tamaño predeterminado para ser visualizado de forma correcta*/
    }
}

.avatarIcon {
    display: none;
    position: absolute;
    top: 26%;
    left: 45%;
    font-size: 55px;
  }

.avatar:hover + .avatarIcon {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100px; /* Need a specific value to work */
    font-size: 35px;
  }


  .btn-file {
    position: relative;
    overflow: hidden;
  }
  .btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
  }

  .btn-save{
    position: absolute;
    left: -4%;
    top: 20%;
  }

  .btn-remove{
    position: absolute;
    left: -4%;
    top: 40%;
  }

@media only screen and (max-width: 600px) { /* responsive size*/
    .btn-save{ /* public content images grid center*/
        position: absolute;
        left: 25%;
        top: 20%;
    }
    .btn-remove{ /* public content images grid center*/
        position: absolute;
        left: 25%;
        top: 40%;
    }

}


/* SweetAlert Custom Styling - Enhanced specificity */
.swal-modal {
    background-color: #1A1A1A !important;
    border: 1px solid #373940 !important;
}

.swal-title {
    color: #ffffff !important;
    font-family: "CyberpunkWaifus" !important;
}

.swal-text {
    color: #ffffff !important;
    font-size: 1.5rem !important;
}

.swal-button,
.swal-button:not(:disabled):not(.disabled),
.swal-button.btn {
    background-color: #ef3343 !important;
    border: 2px solid #ef3343 !important;
    color: #ffffff !important;
    font-family: "CyberpunkWaifus" !important;
    font-weight: bold !important;
    border-radius: 4px !important;
    padding: 10px 20px !important;
    transition: all 0.3s ease !important;
}

.swal-button:hover,
.swal-button:not(:disabled):not(.disabled):hover,
.swal-button.btn:hover {
    background-color: #dc2626 !important;
    border-color: #dc2626 !important;
    color: #ffffff !important;
    transform: translateY(-1px) !important;
    box-shadow: 0 4px 8px rgba(239, 51, 67, 0.3) !important;
}

.swal-button:active,
.swal-button:not(:disabled):not(.disabled):active,
.swal-button.btn:active,
.swal-button.active {
    background-color: #b91c1c !important;
    border-color: #b91c1c !important;
    color: #ffffff !important;
    transform: translateY(0) !important;
    box-shadow: 0 2px 4px rgba(239, 51, 67, 0.2) !important;
}

.swal-button:focus,
.swal-button:not(:disabled):not(.disabled):focus,
.swal-button.btn:focus {
    outline: none !important;
    box-shadow: 0 0 0 3px rgba(239, 51, 67, 0.5) !important;
    background-color: #ef3343 !important;
    border-color: #ef3343 !important;
    color: #ffffff !important;
}

.swal-button:disabled,
.swal-button.disabled {
    background-color: #6b7280 !important;
    border-color: #6b7280 !important;
    color: #9ca3af !important;
    cursor: not-allowed !important;
    transform: none !important;
    box-shadow: none !important;
}

/* Override Bootstrap's btn-primary if it's being applied */
.swal-button.btn-primary,
.swal-button.btn-primary:hover,
.swal-button.btn-primary:focus,
.swal-button.btn-primary:active {
    background-color: #ef3343 !important;
    border-color: #ef3343 !important;
    color: #ffffff !important;
}

.swal-button.btn-primary:hover {
    background-color: #dc2626 !important;
    border-color: #dc2626 !important;
}

/* Cancel button styling */
.swal-button--cancel,
.swal-button[data-has-cancel-function="true"] {
    background-color: #374151 !important;
    border-color: #374151 !important;
    color: #ffffff !important;
}

.swal-button--cancel:hover,
.swal-button[data-has-cancel-function="true"]:hover {
    background-color: #4b5563 !important;
    border-color: #4b5563 !important;
    color: #ffffff !important;
}

/* Overlay and other elements */
.swal-overlay {
    background-color: rgba(0, 0, 0, 0.8) !important;
}

.swal-footer {
    background-color: #1A1A1A !important;
    border-top: 1px solid #373940 !important;
}

.swal-content {
    color: #ffffff !important;
}

.swal-content__input {
    background-color: #374151 !important;
    border: 1px solid #6b7280 !important;
    color: #ffffff !important;
}

.swal-content__input:focus {
    border-color: #ef3343 !important;
    box-shadow: 0 0 0 3px rgba(239, 51, 67, 0.1) !important;
}

/* Icon styling */
.swal-icon--success__ring {
    border: 4px solid #ef3343 !important;
}

.swal-icon--success__hide-corners {
    background-color: #1A1A1A !important;
}

.swal-icon--error {
    border-color: #dc2626 !important;
}

.swal-icon--warning {
    border-color: #f59e0b !important;
    color: #f59e0b !important;
}


    @media only screen and (max-width: 600px) { /* responsive size*/
        .userMenuBtn {
            font-size: 0px;
        }
        .userMenuBtn i {
          font-size: 18px;
        }
      }

        .filterBar {

         border-bottom: 1px solid #373940;
         border-top: 1px solid #373940;
        }

        .mainLogo {                                                               /* INDEX IMAGE BACKGROUND */
            background-image: url('../img/backgroundLogo.gif') ;
            background-size: 80% ;
            background-position: top -300px right ;
            padding-top: 130px;
            padding-bottom: 130px;
            background-color: #15161A ; /* NAVBAR */


        }


        .searchBarIndex{
            border-color: #2d3338!important;
            background-color: #1A1A1A!important;
        }

        .searchBarIndexContainer{
            opacity: 0.6;
            filter: alpha(opacity=60);
        }

        .searchBarIndexContainer:hover{
            opacity: 1;
            filter: alpha(opacity=100);

        }
        .searchBarIndexContainer:hover input, .searchBarContentContainer:hover input{
                border-color: #ef3343!important;
                box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(239, 51, 67, 0.6);
                outline: 0!important;
        }

        .searchBarIndexContainer:hover button, .searchBarContentContainer:hover button{
            background-color: #ef3343!important;
            border-color: #ef3343!important;
            outline: 0!important;
         }


        @media only screen and (max-width: 600px) {
            .mainLogo {
                background-position: top -260px right ;
                background-size: 100% ;
                padding-top: 50px;
                padding-bottom: 50px;
            }
        }

        .commentForm{
            background-color: #1A1A1A!important;
        }
        .commentForm:hover{
            border-color: #ef3343!important;
            background-color: #1A1A1A!important;
        }



        .responsive-iframe {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            width: 100%;
            height: 100%;
          }
          .container-video {
            position: relative;
            width: 100%;
            overflow: hidden;
            padding-top: 56.25%; /* 16:9 Aspect Ratio */
          }

              /* Album Content IMAGE SIZE */
    @media only screen and (max-width: 600px) { /* responsive size*/
        .sponsor-mobile{
            display: block;
        }
        .sponsor-desktop{
            display: none;
        }
    }

    @media (min-width: 576px) {  /* desktop size */
        .sponsor-mobile{
            display: none;
        }
        .sponsor-desktop{
            display: block;
        }
    }
