.imgThumb{ /* album gestor thumbs*/
    border: 1px solid #0000009f;
    border-radius: 0%;
    object-fit: cover !important;
    width: 50px;
    height: 50px;
}

.imgThumbPublicIndex{ /* public images preview*/

    border-radius: 0%;
    object-fit: cover !important;
    width: 75px;
    height: 75px;
    opacity: 0.6;
    filter: alpha(opacity=60);
}

.grid{
    display: none;  /*hidde images grid before loaded with masonry script*/
}

/*
.photos{

    display: none;
}
*/
@media only screen and (max-width: 600px) { /* responsive size*/
    .grid .grid-item{ /* public content images grid center*/
        width: 25%!important;
    }
    .grid-item>a img{ /* public images/div thumbs resize */
        width: 100%!important;
    }

}
@media (min-width: 576px) {  /* desktop size */
    .grid .grid-item{ /* public content images grid center*/
        width: 20%!important;
    }
    .grid-item>a img{ /* public images/div thumbs resize */
        width: 100%;
    }
}



.indexCard:hover{
    border: 1px solid #0000009f;
}

.photos .masonry {
    width: 25%;
}
    .photos>a img {
        width: 100%;
    }

.cardAlbumDetails{
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 12px;
}

.cardAlbumTittle{
    margin-bottom: 0px;
    margin-top: 0px;
}

.cardAlbumDescription{
    font-size: 15px;
}

.privateAlbumIcon{
    font-size: 100px!important;
  }

.uploadIcon{
    font-size: 70px !important;
}

.page-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #d9d9d9 !important;
    background-color: #4f4f4f !important;
    border: 1px solid #262626 !important;
}
.page-link:hover {
        z-index: 2;
        color: #fff !important;
        text-decoration: none;
        background-color: #a4a4a4 !important;
        border-color: #dee2e6;
}
.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #808080 !important;
    border-color: #353535;
}


footer {
    /*position: fixed;*/
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    font-size: 12px;
 }

body{
    background-color: #333!important;
}

.commentBody{
    padding-top: 10px!important;
    padding-bottom: 10px!important;
}

.commentHeader{
    font-size: 12px;
}
.commentHeader> p{
    margin-bottom: 0px;
}

@media only screen and (max-width: 600px) { /*responsive size*/
    .girl404{
        width: 50%!important;
    }

}
@media (min-width: 576px) { /*desktop size*/
    .girl404{
        width: 20%!important;
    }
}

.searchBarIndex{
    border-color: #2d3338!important;
}


.loader-ellips {
    font-size: 10px; /* change size here */
    position: relative;
    width: 4em;
    height: 1em;
    margin: 10px auto;
  }
  .loader-ellips__dot {
    display: block;
    width: 1em;
    height: 1em;
    border-radius: 0.5em;
    background: #555; /* change color here */
    position: absolute;
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
  }
  .loader-ellips__dot:nth-child(1),
  .loader-ellips__dot:nth-child(2) {
    left: 0;
  }
  .loader-ellips__dot:nth-child(3) { left: 1.5em; }
  .loader-ellips__dot:nth-child(4) { left: 3em; }
  @keyframes reveal {
    from { transform: scale(0.001); }
    to { transform: scale(1); }
  }
  @keyframes slide {
    to { transform: translateX(1.5em) }
  }
  .loader-ellips__dot:nth-child(1) {
    animation-name: reveal;
  }
  .loader-ellips__dot:nth-child(2),
  .loader-ellips__dot:nth-child(3) {
    animation-name: slide;
  }
  .loader-ellips__dot:nth-child(4) {
    animation-name: reveal;
    animation-direction: reverse;
  }

